[Desktop Entry]
Version=1.0
Name=DE2-115 Virtual Input
Comment=DE2-115 Virtual Input
Exec=/home/exp-a/.local/bin/de2-115-gui
Path=/home/exp-a/.local/bin/
Icon=applications-electronics
Type=Application
Categories=Development
StartupNotify=false
